.container-footer-1-desk {
    display: flex;
    flex-direction: column;
    gap: 52px;
    width: 100%;
    background-color: #f1f1f1;
    padding:48.47px 0px 40.53px 0px;
    margin-top: 104px;
}

.container-card-footer-1-desk-img {
    padding-left: 26px;
    max-width: 1280px;
}


.container-card-footer-1-desk {
    display: flex;
    justify-content: space-around;
   
   
    
}

.container-card-footer-1-desk-payment-security {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width:1025px) {
    .container-footer-1-desk{
        display: none;
    }
}