.container-summary-footer {
  width: 100%;
  margin-top: 79px;
  background-color: #f1f1f1;
}

.container-card-summary-footer {
  width: 100%;
  padding-top: 50.43px;
}

.container-card-summary-footer-p1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container-card-summary-footer-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 52.63px;
}

.container-card-summary-footer-details {
  text-align: left;
  margin-bottom: 24px;
  position: relative;
  padding-bottom: 22.5px;
  border-bottom: 1px solid #cacaca;
  width: 100%;
}

.container-card-summary-footer-details[open]
  .container-card-summary-footer-summary {
  margin-bottom: 29px;
}

.container-card-summary-footer-summary {
  list-style: none;
  font-family: LEMON MILK;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.61px;
  text-align: left;
  color: #121212;
  margin-left: 24px;
}

.container-card-summary-footer-details[open]
  .container-card-summary-footer-icon {
  transform: rotate(0deg);
}

.container-card-summary-footer-icon {
  position: absolute;
  top: 0px;
  right: 24px;
  transform: rotate(180deg);
}

.container-card-summary-footer-summary-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin-left: 24px;
}

.container-card-summary-footer-summary-item-and-img {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #393939;
  text-decoration: none;
}
.container-card-summary-footer-summary-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
  color: #393939;
  text-decoration: none;
}

.conatiner-card-summary-footer-summary-item-span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #b8993a;
  text-decoration: underline;
}


.container-summary-footer-desk {
  display: flex;
  gap: 64px;
}

.container-card-summary-footer-desk {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.container-card-summary-footer-desk-names {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-card-summary-footer-desk-names-contato {
  display: flex;
  flex-direction: column;
  width: 81%;
  gap: 10px;
}

.container-card-summary-footer-desk-title {
  font-family: LEMON MILK;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #393939;
}

.container-card-summary-footer-summary-item {
font-size: 14px;
font-weight: 400;
line-height: 16.1px;
text-align: left;

}