.container-header-mobile {
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 8px;
  z-index: 100000000000;
  width: 100%;
  top: 40px;
}

.container-header-mobile-fixo {
  position: fixed;
  z-index: 100000000000;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f8f8f8;
  width: 100%;
}

.container-card-header-mobile {
  display: flex;
  width: 100%;
  max-width: 1280px;
}

.container-header-mobile-fixo .container-card-header-mobile {
  padding: 20.91px 0px;
}

.container-card-header-mobile-p1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.container-card-header-mobile-menu-and-icon-heart {
  display: flex;
  align-items: center;
  gap: 17.67px;
}

.container-card-header-mobile-icon-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.container-card-header-mobile-icons {
  display: flex;
  align-items: center;
  gap: 19px;
}

.container-card-header-mobile-icons .icon-bag {
  width: 17px;
  height: 19px;
}

.container-header-mobile-fixo .container-card-header-mobile-input {
  display: none;
}

.container-card-header-mobile-input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-card-header-mobile-input-p1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  border: 1px solid #626262;
  border-radius: 24px;
  height: 40px;
}

.container-card-header-mobile-input-item {
  text-align: left;
}

.container-card-header-mobile-input-item::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

@media (min-width: 1025px) {
  .container-header-mobile {
    display: none;
  }
  .container-header-mobile-fixo {
    display: none;
  }
}
