.container-header-mobile {
  background-color: #ffcf7d;
  width: 100%;
}

.container-card-header-mobile {
  display: flex;
  width: 100%;
  max-width: 1280px;
}

.container-card-header-mobile-p1 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.container-card-header-mobile-menu-and-icon-heart {
  display: flex;
  align-items: center;
  gap: 17.67px;
}

.container-card-header-mobile-icon-heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.container-card-header-mobile-icons {
  display: flex;
  align-items: center;
  gap: 19px;
}

.container-card-header-mobile-icons .icon-bag {
  width: 17px;
  height: 19px;
}

@media (min-width: 1025px) {
  .container-header-mobile {
    display: none;
  }
}
