.container-showcase-products-2 {
  padding: 39px 0px 45px 0px;
  background-color: #f1f1f1;
}

.container-card-showcase-products-2-p1 {
  margin: 0px 16.5px;
} 

.container-card-showcase-products-2-p1 .slick-track {
  display: flex;
  gap: 13px;
}

.container-card-showcase-products-2 {
  background-color: #fff;
}

.container-card-showcase-products-2-names {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-top: 0.5px solid #b8993a;
  border-bottom: 0.5px solid #b8993a;
  padding: 6px 0px;
  margin-bottom: 24px;
}
.container-card-showcase-products-2-names-main {
  width: 90%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.container-card-showcase-products-2-names-item {
  font-family: LEMON MILK;
  font-size: 14px;
  font-weight: 300;
  line-height: 18.91px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #b8993a;
}

.container-card-showcase-products-2-p1 button.slick-arrow.slick-next {
  position: absolute;
  z-index: 10000;
  background-image: url(/public/img/arrowRightProducts.png);
  background-repeat: no-repeat;
  right: -13px;
  height: 30px;
  background-size: 10px;
  transform: translate(0, -120%);
  background-position: center;
}

.container-card-showcase-products-2-p1 .slick-next::before {
  position: absolute;
  right: 10px;
  color: transparent;
  opacity: 0;
}

.container-card-showcase-products-2-p1 button.slick-arrow.slick-prev {
  position: absolute;
  z-index: 10000;
  background-image: url(/public/img/arrowLeftProducts.png);
  background-repeat: no-repeat;
  left: -7px;
  height: 30px;
  background-size: 10px;
  transform: translate(0, -120%);
  background-position: center;
}

.container-card-showcase-products-2-p1 .slick-prev::before {
  color: transparent;
  opacity: 0;
}

.container-card-showcase-products-2-p1 .slick-dots {
  display: flex !important;
  justify-content: center !important;
  bottom: -27px;
}

.container-showcase-products
  .container-card-showcase-products-2-p1
  .slick-dots
  li {
  margin: 0px;
}

.container-showcase-products
  .container-card-showcase-products-2-p1
  .slick-dots.slick-active
  button::before {
  font-size: 10px !important ;
}

.container-card-showcase-products-2-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-card-showcase-products-2-logo-ludique {
  margin-top: 8px;
  margin-left: 6px;
  width: 20%;
  top: 8px;
  left: 6px;
}

.container-card-showcase-products-2-icon-heart {
  margin-top: 9.33px;
  margin-right: 9px;
  width: 16.17px;
  height: 13.42px;
}

.container-card-showcase-products-2-img {
  width: 100%;
}

.container-description-2 {
  position: relative;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 16px;
  width: 160px;
  padding: 12px 9px 8px 9px;
}

.container-card-showcase-products-2 h2 {
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #121212;
}

.container-card-showcase-products-2-old-price-and-discount {
  display: flex;
  align-items: center;
  gap: 4px;
}

.container-card-showcase-products-2-old-price-and-discount
  .container-old-price {
  text-decoration: line-through;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.06px;
  text-align: left;
  color: #626262;
}

.container-card-showcase-products-2-old-price-and-discount .container-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 45px;
  background-color: #e7c367;
}

.container-card-showcase-products-2-old-price-and-discount
  .container-discount
  p {
  font-size: 10px;
  font-weight: 500;
  line-height: 11.72px;
  text-align: center;
  color: #fff;
  padding: 4px;
}

.container-card-showcase-products-2-current-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
  color: #121212;
}

.container-card-showcase-products-2-payment {
  font-size: 10px;
  font-weight: 300;
  line-height: 11.72px;
  text-align: left;
  color: #626262;
}

.container-card-showcase-products-2-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #004581;
  width: 140px;
  height: 36px;
}

.container-card-showcase-products-2-button a {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #004581;
  text-decoration: none;
}

.container-card-showcase-products-2-name {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container-card-showcase-products-2-name-item {
  font-size: 12px;
  font-weight: 300;
  line-height: 14.06px;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 30px;
  color: #626262;
}

@media (min-width: 1025px) {
  .container-card-showcase-products-2-icons {
    top: 0px;
    width: 6.5%;
  }
  .container-card-showcase-products-2-logo-ludique {
    width: 72px;
    height: 20px;
  }

  .container-card-showcase-products-2-name {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    width: unset;
  }

  .container-card-showcase-products-2 {
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
  }

  .container-card-showcase-products-2-p1 button.slick-arrow.slick-next {
    right: -11px;
  }

  .container-card-showcase-products-2 h2 {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.06em;
    text-align: left;
  }

  .container-description-2 {
    width: unset;
  }

  .container-card-showcase-products-2-old-price-and-discount
    .container-old-price {
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    text-align: left;
  }

  .container-card-showcase-products-2-current-price {
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
  }

  .container-card-showcase-products-2-payment {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
  }

  .container-card-showcase-products-2-button {
    width: 100%;
  }

  .container-card-showcase-products-2-button a {
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.02em;
    text-align: center;
  }  

  .container-discount {
    width: 42px;
    height: 17px;
  }

  .container-discount p {
    font-size: 12px;
    line-height:14.72px ;

  }

  .container-card-showcase-products-2-name a {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  letter-spacing: 0.02em;
  text-align: center;
 color: #626262;
  }
}
