.container-section-banner-3-desk {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 48px 0px 40px 0px;
    background-color: #f1f1f1;
  }
  
  .container-section-banner-3-desk .container-card-section-banner-3-desk {
    width: 100%;
    max-width: 1280px;

  }
  
  .container-card-section-banner-3-desk-item {
    width: 100%;
    position: relative;
  }
  
  .container-card-section-banner-3-desk-item .container-card-section-banner-3-desk-img {
    width: 95%;
    height: 100%;
  }
  
  .container-card-section-banner-3-desk-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10000000;
    bottom: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .container-card-section-banner-3-desk-name-item {
    font-family: Sofia;
    font-size: 52.27px;
    font-weight: 400;
    line-height: 82.38px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width:1025px) {
    .container-section-banner-3-desk {
      display: none;
    }
  }