.container-header-desktop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 10000000;
  width: 100%;
  top: 40px;
  height: 97px;
}

.header-desktop-fixo {
  position: fixed;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000000;
  background-color: #f8f8f8;
  top: 0px;
}

.header-desktop-active {
  width: 100%;
  background-color: #f8f8f8;
}

.header-desktop {
  position: fixed;
  top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1280px;
}

.header-desktop-over {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1280px;
}

.container-card-header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 1280px;
  padding: 25px 0px;
}

.container-card-header-desktop-logo {
  display: flex;
  align-items: center;
}

.container-card-header-desktop-names {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 11.5px 0px;
}

.header-desktop-fixo .container-card-header-desktop-names-item {
  color: #626262;
}

.container-card-header-desktop-names-item {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-desktop-fixo .container-card-header-desktop-input {
  border: 1px solid #9a9a9a;
}

.container-card-header-desktop-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-width: 220px;
  max-width: 290px;
  height: 36px;
  border-radius: 32px;
  border: 1px solid #f1f1f1;
}
.header-desktop-fixo .container-card-header-desktop-input input::placeholder {
  color: #626262;
}

.container-card-header-desktop-input input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #f1f1f1;
}

.header-desktop-fixo .container-card-header-desktop-icons {
  filter: invert(1);
}

.container-card-header-desktop-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 103.75px;
}

@media (max-width: 1025px) {
  .container-header-desktop {
    display: none;
  }
}
